body {
  background-color: #e9eaed;
}

.navbar {
  background-color: #4c66a1;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: white;
}

.navbar button,
.navbar button:hover {
  background-color: transparent;
  border: none;
  color: #2e467c;
}	

/* Make the button white if clicked on, and remain white after clicking.
   Facebook normally opens up a menu when you do this.
   :active = user is currently interacting with the button.
   :focus = user is currently interacting or has just interacted with the
   button.
   :active:focus = both at the same time
   We have to override all of these combinations, since Bootstrap has separate
   rules for them.*/
.navbar button:active,
.navbar button:focus,
.navbar button:active:focus {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
 }

 /* Search button style -- overrides the above two rules for the search
   button */
.navbar form button,
.navbar form button:hover,
.navbar form button:focus,
.navbar form button:active,
.navbar form button:active:focus {
  background-color: lightgrey;
  color: black;
  width: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  outline: none;
  box-shadow: none;
}

/* Navbar button style when the button has notifications.
   Apply same style when the user is hovering the mouse over the button. */
button.fb-notifications,
button.fb-notifications:hover {
  color: white;
}

.fb-left-sidebar .nav > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  color: black;
  font-weight: normal;
}

.fb-left-sidebar .nav > li > a:hover,
.fb-left-sidebar .nav > li.active > a:hover {
  /* This is the color Facebook uses */
  background-color: #dcdee3;
  color: black;
}

.fb-left-sidebar .nav > li > a:active,
.fb-left-sidebar .nav > li > a:focus,
.fb-left-sidebar .nav > li > a:active:focus,
.fb-left-sidebar .nav > li.active > a:active,
.fb-left-sidebar .nav > li.active > a:focus,
.fb-left-sidebar .nav > li.active > a:active:focus {
  background-color: transparent;
  color: black;
}

.navbar .badge {
  background-color: red;
  color: white;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid black;
  /* Offset the badge a bit so it hovers over the glyphicon. */
  right: 8px;
  top: -10px;
}

.fb-left-sidebar {
  /* I got this color from Facebook */
  color: #9197a3;
}

.navbar .navbar-right > .btn-toolbar > .btn-group:first-child button,
.navbar .navbar-right > .btn-toolbar > .btn-group:nth-child(2) button
{
  color: white;
}

.navbar .navbar-right > .btn-toolbar > .btn-group:first-child button:hover,
.navbar .navbar-right > .btn-toolbar > .btn-group:nth-child(2) button:hover
{
  background-color: #2e467c;
}

.fb-status-update-entry textarea{
	resize: none;
	box-shadow:none !important;
	border:none; 
}

.fb-status-update-entry .media{
	border-top: 1px solid lightgrey;
 	border-bottom: 1px solid lightgrey;
 	margin-bottom: 10px;
 	padding-top: 5px;
}

a,
a:visited {
  color: #3b5998;
  font-weight: bold;
}

.fb-right-sidebar {
  color: #9197a3;
  border: 1px solid lightgrey;
  background-color: white;
  padding-bottom: 10px;
}

.fb-right-sidebar .glyphicon-gift {
  color: white;
  background-color: red;
  padding: 2px;
  border-radius: 2px;
}

.fb-trending > .row:first-child li a {
  color: inherit;
}

.fb-trending > .row:first-child li.active a {
  background-color: transparent;
  color: #5990ff;
}
.fb-trending ul.nav a {
  padding-left:5px;
  padding-right:3px;
  padding-top:2px;
  padding-bottom: 2px;
}

.fb-trending-title{
	line-height: 24px;
}

.fb-trending > .row:nth-child(2) .glyphicon-flash {
  color: #5990ff;
}

.fb-trending > .row:first-child {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fb-trending .media {
  margin-top: 5px;
}

.fb-trending {
  margin-bottom: 5px;
}

.fb-status-update hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid lightgray;
}

.fb-status-update .list-inline {
  margin-bottom: 0px;
}

.fb-status-update .panel-body {
  padding-bottom: 5px;
}

.btn-group{
	z-index:10000;
	position:relative;
}

.h-scroll {
min-height: 600px;
    max-height: 600px; /* %-height of the viewport */
    position: fixed, right;
    overflow-y: scroll;
    right:0px;
}
